<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <description>Empty web.xml file for Web Application</description>
    <servlet>
        <servlet-name>cLoginServlet</servlet-name>
        <servlet-class>mvc.cLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cRegisterServlet</servlet-name>
        <servlet-class>mvc.cRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cLogout</servlet-name>
        <servlet-class>mvc.cLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cLogoutServlet</servlet-name>
        <servlet-class>mvc.cLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cReportServlet</servlet-name>
        <servlet-class>mvc.cReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vUserPageServlet</servlet-name>
        <servlet-class>mvc.vUserPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cToysList</servlet-name>
        <servlet-class>mvc.cToysList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vToysList</servlet-name>
        <servlet-class>mvc.vToysList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cHireToy</servlet-name>
        <servlet-class>mvc.cHireToy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cLoginServlet</servlet-name>
        <url-pattern>/cloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cRegisterServlet</servlet-name>
        <url-pattern>/cregisterservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cLogout</servlet-name>
        <url-pattern>/clogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cLogoutServlet</servlet-name>
        <url-pattern>/clogoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cReportServlet</servlet-name>
        <url-pattern>/creportservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vUserPageServlet</servlet-name>
        <url-pattern>/vuserpageservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cToysList</servlet-name>
        <url-pattern>/ctoyslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vToysList</servlet-name>
        <url-pattern>/vtoyslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cHireToy</servlet-name>
        <url-pattern>/chiretoy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
